<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.oddware.alcolator">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_wineglass"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_wineglass"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
            Lifted this one out for when trying to implement JetPack Navigation
            android:configChanges="orientation|screenSize|screenLayout"
        -->
        <activity android:name=".DrinkListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddDrinkActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DrinkListActivity" />
        </activity>
        <activity android:name=".DrinkDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DrinkListActivity" />
        </activity>
    </application>

</manifest>